.logo {
    width: 50px;
    border-radius: 50%;
}

.header {
    // position: absolute;
    // left: 0;
    // top: 0;
    width: 100%;
    // background: rgba(195, 228, 191, 0.5);
    z-index: 5;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    &__callback {
        color: #404040;
        font-weight: 700;
        text-decoration: none;
    }
}


.menu {
    display: flex;
    align-items: center;
    &__item {
        &:not(:last-child) {
            margin-right: 15px;
        }

    }
    &__link {
        color: #404040;
        text-decoration: none;
        font-weight: 500;
        position: relative;
        padding: 5px 0;
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background: #058162;
            transition: all 400ms;
        }
        &:hover {
            &:before {
                width: 100%;
            }
        }
    }
}
