.how {
    &__title {
        margin-bottom: 50px;
    }
    &__list {
        display: flex;
        justify-content: center;
        
    }
    &__item {
        border-radius: 5px;
        max-width: 300px;
        width: 100%;
        overflow: hidden;
        background: #ddfade;
        transition: all 400ms;
        position: relative;
        z-index: 1;
        margin: 15px 15px 0;
        &:hover {
            transform: translateY(-10px);
        }
        &-title {
            text-align: center;
            font-weight: 700;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        &-text {
            text-align: center;
            
        }
        &-img {
            margin-bottom: 10px;
            height: 150px;
            width: 100%;
            object-fit: cover;
        }
        &-inner {
            padding: 10px;
        }
    }
}