.price {
    
    &-table {
        border: 1px solid #e2e8f0;
        border-radius: 5px;
        overflow: hidden;
        background: #fff;
        &__header {
            background: #ddfade;
            font-weight: 700;
            font-size: 1.2em;
        }
        &__row {
            &:not(:last-child) {
                border-bottom: 1px solid #e2e8f0;
                box-shadow: 0 1px 0 #e2e8f0;
            }
        }
        &__col {
            padding: 10px;
        }
    }

    &__footnote {
        margin-top: 10px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

