.process {
    @media screen and (min-width: 320px) {
        position: relative;
        z-index: 1;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-position: center;
            background-size: cover;
            z-index: -1;
            opacity: 0.2;

            .webp & {
                background-image: url(../img/bg.webp);
            }
            .no-webp & {
                background-image: url(../img/bg.jpg);
            }
        }
        &__subtitle {
            margin-bottom: 25px;
        }
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &__list {
            counter-reset: section;
            margin-bottom: 25px;
        }
        &__item {
            position: relative;
            counter-increment: section;
            font-weight: 700;
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 25px;
            }
            &:before {
                content: counter(section);
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                background: #fbfffc;
                border: 5px solid #ddfade;
                border-radius: 50%;
                transition: all 400ms;
                flex-shrink: 0;
            }
            &:hover:before {
                background: #239c70;
                border: 5px solid #8af1b3;
                color: #fff;
            }
    
            
        }
        &-visual {
            position: relative;
            &__list {
                counter-reset: item;
                
            }
            &__item {
                position: absolute;
 
                counter-increment: item;
                overflow: hidden;
                &:before {
                    content: counter(item);
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                    background: #fbfffc;
                    border: 5px solid #ddfade;
                    border-radius: 50%;
                    transition: all 400ms;
                    font-weight: 700;
                    font-size: 14px;
                    
                }
                &:nth-child(1) {
                    left: 0;
                    top: 50%;
                    z-index: 5;
                }
                &:nth-child(2) {
                    left: 30%;
                    top: 40%;
                    z-index: 4;
                }
                &:nth-child(3) {
                    right: 10px;
                    top: 30%;
                    z-index: 3;
                }
                &:nth-child(4) {
                    right: 10%;
                    top: 60%;
                    z-index: 2;
                }
                &:nth-child(5) {
                    left: 50%;
                    top: 60%;
                    z-index: 1;
                }
    
    
                &-text {
                    display: none;
                }
                &.active {
                    &:before {
                        background: #239c70;
                        border: 5px solid #8af1b3;
                        color: #fff;
                    }
                    
                }

            }
        }
    }
    @media screen and (min-width: 480px) {
        &-visual {
            &__item {
                max-width: 100px;
                &:before {
                    width: 50px;
                    height: 50px;
                }
                &-text {
                    display: block;
                    background: #fadd01;
                    color: rgb(94, 94, 94);
                    margin-top: 10px;
                    padding: 5px;
                    width: 100%;
                    transition: all 400ms;
                    transform: translateX(-100%);
                    opacity: 0;
                    font-size: 12px;
                }

                &.active &-text {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (min-width: 640px) {
        &-visual {
            &__item {
                max-width: 200px;
                &-text {
                    font-size: inherit;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        
    }
    @media screen and (min-width: 1024px) {
        &__inner {
            flex-direction: row;
        }
        &__list {
            margin-bottom: 0;
            
        }
        &-visual {
            flex-shrink: 0;
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            &__list {
                width: 40%;
                
            }
            &-visual {
                width: 60%;
            }
         }
        
    }
    @media screen and (min-width: 1220px) {
        
    }

}