.services {
    @media screen and (min-width: 320px) {
        
        position: relative;
        z-index: 1;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            
            background-position: center;
            background-size: cover;
            z-index: -1;
            opacity: 0.2;
            .webp & {
                background-image: url(../img/bg.webp);
            }
            .no-webp & {
                background-image: url(../img/bg.jpg);
            }
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            border-radius: 5px;
            max-width: 100%;
            width: 100%;
            overflow: hidden;
            background: #ddfade;
            transition: all 400ms;
            margin: 20px 10px 0;
            &:hover {
                transform: translateY(-10px);
            }
            &-title {
                text-align: center;
                font-weight: 700;
                font-size: 1.1em;
                margin-bottom: 10px;
                line-height: 1.1;
            }
            &-text {
                text-align: center;
                
            }
            &-img {
                margin-bottom: 10px;
                height: 150px;
                width: 100%;
                object-fit: cover;
            }
            &-inner {
                padding: 10px;
            }
        }
    }
    @media screen and (min-width: 480px) {
        &__item {
            max-width: 350px;
        }
    }
    @media screen and (min-width: 640px) {
        &__item {
            max-width: 250px;
        }
    }
    @media screen and (min-width: 768px) {
        &__item {
            max-width: 300px;
        }
    }
    @media screen and (min-width: 1024px) {
        &__item {
            max-width: 350px;
        }
        &__title {
            margin-bottom: 20px;
        }
    }
    // @media screen and (min-width: 1220px) {
    //     &__item {
    //         max-width: 350px;
    //     }
    // }
    @media screen and (min-width: 1600px) {
        &__item {
            max-width: 400px;
        }
    }
    @media screen and (min-width: 1920px) {
        &__item {
            max-width: 350px;
        }
    }



}