extends settings/layout

prepend html
  - const lang = "pl";

prepend head
  - const pageTitle = "Wysokiej jakości czyszczenie na sucho mebli tapicerowanych, dywanów, szyb, wnętrz samochodów";
  - const themeColor = "#ffffff";

append head

append content
  include components/load
  include components/header
  include components/promo
  include components/services
  include components/price
  include components/process
  include components/works
  include components/reviews
  include components/contacts
  include components/callback
  include components/footer
  

append scripts

