section.contacts#contacts 
    .container-fluid.contacts__container-fluid
        .contacts__left.col
            .col__inner
                h2.contacts__title.title Łączność
                .contacts__info 
                    .contacts__item 
        .contacts__right.col
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5967.889703121868!2d17.33185456658309!3d51.031138612783984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47102187eaf52587%3A0xe3c36165651530e8!2sCleanTapi%20-%20Pranie%20czyszczenie%20tapicerki%20meblowej%2C%20samochodowej%2C%20dywan%C3%B3w.%20Czyszczenie%20sk%C3%B3ry.%20Mycie%20okien!5e0!3m2!1sru!2sua!4v1658059301034!5m2!1sru!2sua' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade' class="contacts__map")