header.header
    .container 
        .header__inner 
            img.header__logo.logo(src="img/logo.png", alt="") 
            ul.heder__menu.menu
                li.menu__item 
                    a.menu__link(href="#services") Usługi
                li.menu__item 
                    a.menu__link(href="#price") Ceny usług
                li.menu__item 
                    a.menu__link(href="#process") Jak pracujemy
                li.menu__item 
                    a.menu__link(href="#works") Nasza praca
            a.header__callback(href="") 098-757-35-58