section.how#how.block
    .container 
        .how__title.title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0s") Jak pracujemy
        .how__list  
            .how__item.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="0s") 
                img.how__item-img(src="img/how1.jpg", alt="")
                .how__item-inner
                    .how__item-title Kontakt z nami 
                    //- .how__item-text Określamy zakres prac, ogłaszamy koszt, ustalamy termin spotkania.
            .how__item.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="100ms") 
                img.how__item-img(src="img/how2.jpg", alt="")
                .how__item-inner
                    .how__item-title Wykonywanie usługi
                    .how__item-text Pranie metodą ekstrakcyjną
            .how__item.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="200ms") 
                img.how__item-img(src="img/how3.jpg", alt="")
                .how__item-inner
                    .how__item-title Opłata
                    .how__item-text Dokonywanie płatności po wykonanej usłudze