section.price#price
    .container-fluid.price__container-fluid
        .price__left.col.col--lighter
            picture 
                source(srcset="img/price-tablet.webp" type="image/webp" media="(max-width: 767px)")
                source(srcset="img/price-tablet.jpg" media="(max-width: 767px)")
                source(srcset="img/price-mob.webp" type="image/webp" media="(max-width: 479x)")
                source(srcset="img/price-mob.jpg" media="(max-width: 479px)")
                source(srcset="img/price.webp" type="image/webp")
                img.col__img(src="img/price.jpg" alt="" loading="lazy")
            .price__title.title.col__title.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0s") Cennik
        .price__right.col
            .col__inner
                .price__table
                    table.price-table
                        tr.price-table__header.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="0s")
                            td.price-table__col Rodzaj pracy
                            td.price-table__col Ceny
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="100ms")
                            td.price-table__col Narożnik bez poduch
                            td.price-table__col od&nbsp;119zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="200ms")
                            td.price-table__col Kanapa, wersalka
                            td.price-table__col od&nbsp;99zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="300ms")
                            td.price-table__col Materac jednoosobowy z jednej strony&nbsp;/ z obu stron
                            td.price-table__col od&nbsp;59zł/99zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="400ms")
                            td.price-table__col Materac dwuosobowy z jednej strony&nbsp;/ z obu stron 
                            td.price-table__col od&nbsp;99zł/169zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="500ms")
                            td.price-table__col Fotel rozkladany&nbsp;/ Uszak 
                            td.price-table__col od&nbsp;65zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="600ms")
                            td.price-table__col Krzesła 
                            td.price-table__col od&nbsp;19zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="700ms")
                            td.price-table__col Poducha meblowa
                            td.price-table__col od&nbsp;9zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="800ms")
                            td.price-table__col Dywan/wykładzina
                            td.price-table__col od&nbsp;15zł/m2
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="900ms")
                            td.price-table__col Pranie tapicerki samochodowej
                            td.price-table__col od&nbsp;179zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="1000ms")
                            td.price-table__col Sprzątanie wnętrza auta + pranie tapicerki samochodowej 
                            td.price-table__col od&nbsp;299zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="1100ms")
                            td.price-table__col Sprzątanie wnętrza auta + czyszczenie skory samochodowej
                            td.price-table__col od&nbsp;349zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="1200ms")
                            td.price-table__col Mycie okien: jednoskrzydłowe&nbsp;/ dwuskrzydłowe
                            td.price-table__col od&nbsp;15zł/25zł
                    .price__footnote.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1200ms") 
                        span Czyszczenie mebli skórzanych +30% od standardowej ceny.
                        span Również mamy dodatkową opcje suszenie waszych mebli, dywanów, materaców oraz suszenie foteli auta.
                        span Niestety nie możemy gwarantować, że każda plama poszczególna plama zejdzie, oraz nie gwarantujemy, że każdy nieprzyjemny zapach zniknie. 
                        span Minimalny koszt zlecenia 100zł.