section.price#price
    .container-fluid.price__container-fluid
        .price__left.col.col--lighter
            img.col__img(src="img/price.jpg", alt="")
            .price__title.title.col__title.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0s") Cennik
        .price__right.col
            .col__inner
                .price__table
                    table.price-table
                        tr.price-table__header.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="0s")
                            td.price-table__col Rodzaj pracy
                            td.price-table__col Ceny
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="100ms")
                            td.price-table__col Narożnik bez poduch
                            td.price-table__col 120-180zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="200ms")
                            td.price-table__col Kanapa, wersalka
                            td.price-table__col 90-120zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="300ms")
                            td.price-table__col Materac 1os.
                            td.price-table__col od 60zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="400ms")
                            td.price-table__col Materac 2os. 
                            td.price-table__col od 90zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="500ms")
                            td.price-table__col Fotel rozkladany/Uszak 
                            td.price-table__col 65-90zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="600ms")
                            td.price-table__col Krzesła 
                            td.price-table__col od 15-20zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="700ms")
                            td.price-table__col Poducha meblowa 5-15zł
                            td.price-table__col 5-15zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="800ms")
                            td.price-table__col Pranie tapicerki samochodowej
                            td.price-table__col od 160zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="900ms")
                            td.price-table__col Kompleksowe pranie + czyszczenie tapicerki samochodowej
                            td.price-table__col 300zł
                        tr.price-table__row.wow.slideInLeft(data-wow-duration="200ms" data-wow-delay="1000ms")
                            td.price-table__col Kompleksowe pranie auta + czyszczenie skóry samochodowej
                            td.price-table__col od 350zł
                    .price__footnote.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1200ms") Czyszczenie skórzanych mebli - sofa, kanapa, fotele, krzesła. Fotele samochodowe - wycena indywidualna. Również mamy dodatkową opcje suszenie waszych mebli, dywanów, materaców oraz suszenie foteli auta.