section#process.process.block 
    .container 
        h2.title.process__title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0s") Proces czyszczenia
        h3.subtitle.process__subtitle.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="200s") Proces czyszczenia odbywa się w 5 etapach
        .process__inner
            .process__list 
                .process__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="0s")  Próba materiału i dobór odpowiedniej chemii 
                .process__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="100ms")  Dokładne odkurzanie powierzchni
                .process__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="200ms")  Punktowe odplamianie 
                .process__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="300ms")  Nałożenie pre-sprayu
                .process__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="400ms")  Kilkukrotne dogłębne płukanie
            .process__visual.process-visual.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="0s")
                img.process-visual__img(src="img/process-img.png", alt="")
                .process-visual__list
                    .process-visual__item 
                        .process-visual__item-text Próba materiału i dobór odpowiedniej chemii 
                    .process-visual__item 
                        .process-visual__item-text Dokładne odkurzanie powierzchni
                    .process-visual__item 
                        .process-visual__item-text Punktowe odplamianie 
                    .process-visual__item 
                        .process-visual__item-text Nałożenie pre-sprayu
                    .process-visual__item 
                        .process-visual__item-text Kilkukrotne dogłębne płukanie

                