section.reviews#reviews.block
    .container 
        .reviews__title.title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0s") Opinie
        .reviews__list  
            .reviews__item
                .reviews__item-header 
                    .reviews__item-ava M
                    div
                        .reviews__item-name Mateusz Mazur
                        .reviews__item-rating.rating 
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                .reviews__item-text Jestem bardzo zadowolony z wykonanej usługi, narożnik po praniu wygląda jak nowy! Firma solidna, punktualna, rzetelna, skrupulatna! GORĄCO POLECAM!!!
            .reviews__item
                .reviews__item-header 
                    .reviews__item-ava W
                    div
                        .reviews__item-name Weronika Tyczka
                        .reviews__item-rating.rating 
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                .reviews__item-text Polecam! Bardzo dokładnie oraz profesjonalnie. Narożnik wyprany Idelanie. Wygląda na nowy 🙂
                    br
                    | Miły kontakt oraz rzetelne podejście do klienta.
            .reviews__item
                .reviews__item-header 
                    .reviews__item-ava A
                    div
                        .reviews__item-name Ania Bagińska
                        .reviews__item-rating.rating 
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                .reviews__item-text Szczerze polecam. Kanapa po praniu wygląda jak nowa! Bardzo miły kontakt, szybko, profesjonalnie.
            .reviews__item
                .reviews__item-header 
                    .reviews__item-ava P
                    div
                        .reviews__item-name Piotr H
                        .reviews__item-rating.rating 
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                .reviews__item-text Firma bardzo szybko i profesjonalnie usunęła zabrudzenia z kanapy oraz dywanów które teraz wyglądają jak nowe i super pachną bardzo polecam tego pana
            .reviews__item
                .reviews__item-header 
                    .reviews__item-ava T
                    div
                        .reviews__item-name Tomasz G.
                        .reviews__item-rating.rating 
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                .reviews__item-text Polecam z całego serca. Mega uprzejmy Pan, usługa wykonana szybko i bardzo profesjonalnie. Jest 🤘🤘
            .reviews__item
                .reviews__item-header 
                    .reviews__item-ava W
                    div
                        .reviews__item-name Waleria Iwanowa
                        .reviews__item-rating.rating 
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                .reviews__item-text Polecam, bardzo brudną kanapę udało się perfekcyjnie doczyścić.
            .reviews__item
                .reviews__item-header 
                    .reviews__item-ava K
                    div
                        .reviews__item-name KapecJLC
                        .reviews__item-rating.rating 
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                            svg.rating__star(width='16' height='16')
                                use(xlink:href="#star")
                .reviews__item-text Wszystko w porządku. Polecam !
        .reviews__footnote 
            a(href="https://g.co/kgs/vs8CZY") Tutaj 
            | możesz przeczytać wszystkie recenzje i zostawić własne.
    svg.star-icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' )
        symbol(viewBox='0 0 16 16' id="star" fill='currentColor')
            path(d='M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z')