section.services#services.block
    .container.services__container
        h2.title.services__title.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0s") Usługi
        .services__list 
            .services__item.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="0s") 
                img.services__item-img(src="img/services-1.jpg", alt="")
                .services__item-inner
                    h3.services__item-title Czyszczenie dywanów
                    p.services__item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            .services__item.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="100ms") 
                img.services__item-img(src="img/services-2.jpg", alt="")
                .services__item-inner
                    h3.services__item-title Czyszczenie mebli tapicerowanych
                    p.services__item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            .services__item.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="200ms") 
                img.services__item-img(src="img/services-3.jpg", alt="")
                .services__item-inner
                    h3.services__item-title Usuwanie zapachów i śladów zwierząt
                    p.services__item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            .services__item.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="300ms") 
                img.services__item-img(src="img/services-4.jpg", alt="")
                .services__item-inner
                    h3.services__item-title Czyszczenie wnętrza samochodu
                    p.services__item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. 