section.works#works 
    .container-fluid.works__container-fluid
        .works__left.col
            .col__inner
                .works__list 
                    .works__item
                        picture 
                            source(srcset="img/live1.webp" type="image/webp")
                            img.works__img(src="img/live1.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live2.webp" type="image/webp")
                            img.works__img(src="img/live2.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live3.webp" type="image/webp")
                            img.works__img(src="img/live3.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live4.webp" type="image/webp")
                            img.works__img(src="img/live4.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live5.webp" type="image/webp")
                            img.works__img(src="img/live5.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live6.webp" type="image/webp")
                            img.works__img(src="img/live6.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live7.webp" type="image/webp")
                            img.works__img(src="img/live7.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live8.webp" type="image/webp")
                            img.works__img(src="img/live8.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live9.webp" type="image/webp")
                            img.works__img(src="img/live9.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live10.webp" type="image/webp")
                            img.works__img(src="img/live10.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live11.webp" type="image/webp")
                            img.works__img(src="img/live11.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live12.webp" type="image/webp")
                            img.works__img(src="img/live12.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live13.webp" type="image/webp")
                            img.works__img(src="img/live13.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live14.webp" type="image/webp")
                            img.works__img(src="img/live14.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live15.webp" type="image/webp")
                            img.works__img(src="img/live15.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live16.webp" type="image/webp")
                            img.works__img(src="img/live16.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live17.webp" type="image/webp")
                            img.works__img(src="img/live17.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live18.webp" type="image/webp")
                            img.works__img(src="img/live18.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live19.webp" type="image/webp")
                            img.works__img(src="img/live19.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live20.webp" type="image/webp")
                            img.works__img(src="img/live20.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live21.webp" type="image/webp")
                            img.works__img(src="img/live21.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live22.webp" type="image/webp")
                            img.works__img(src="img/live22.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live23.webp" type="image/webp")
                            img.works__img(src="img/live23.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live24.webp" type="image/webp")
                            img.works__img(src="img/live24.jpg", alt="Zdjęcia prac")
                        p.works__desc
                    .works__item
                        picture 
                            source(srcset="img/live17.webp" type="image/webp")
                            img.works__img(src="img/live17.jpg", alt="Zdjęcia prac")
                        p.works__desc
        .works__right.col.col--lighter
            h2.title.works__title.col__title.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0s") Nasza praca
            picture 
                source(srcset="img/works-mob.webp" type="image/webp" media="(max-width: 479x)")
                source(srcset="img/works-mob.jpg" media="(max-width: 479px)")
                source(srcset="img/works-tablet.webp" type="image/webp" media="(max-width: 767px)")
                source(srcset="img/works-tablet.jpg" media="(max-width: 767px)")
                source(srcset="img/works.webp" type="image/webp")
                img.col__img(src="img/works.jpg" alt="Wynik czyszczenia mebli" loading="lazy")
