section.works#works 
    .container-fluid.works__container-fluid
        .works__left.col
            .col__inner
                .works__list 
                    .works__item
                        img.works__img(src="img/live1.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live2.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live3.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live4.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live5.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live6.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live7.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live8.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live9.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live10.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live11.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live12.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live13.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live14.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live15.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live16.jpg", alt="")
                        p.works__desc
                    .works__item
                        img.works__img(src="img/live17.jpg", alt="")
                        p.works__desc
        .works__right.col.col--lighter
            h2.title.works__title.col__title.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0s") Nasza praca
            img.col__img(src="img/works.jpg", alt="")
